
#sidebar {

}

#body {

}

#notifications {

}
	
#container {
	width: 1100px;
	margin: 0 auto;
	padding: 50px;
	box-shadow: 1px 0px 25px rgba(0,0,0, .25);
}

.carousel {
	margin-left: -50px;
	margin-right: -50px;
}

.carousel-inner .item {
	max-height: 250px;
	overflow: hidden;
}

.carousel-inner .item .carousel-caption {
	font-size: 20pt;
}

.carousel-inner .item  img {
	margin-top: -70px;
}

.jumbotron {
	margin-bottom: 0px;
	background-color:white;
}

.nav {
	float: left;
}

.sub a {
	margin-left: 20px;
	background-color: rgb(250,250,250);
}